* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tipografiaCuBeats: 'Roboto';
    --colorCeleste: #0073a6;
    --colorLila: #eb1cb4;
    --navBackrground: rgba(0, 0, 0, 0.3);
    /* --navBarColor2: #4366B4;
    --navBarColor1: #FC3AD7; */
    --navBarColor2: #4366B4;
    --navBarColor1: #FC3AD7;
}