.header {
    background: linear-gradient(135deg, #4366B4, #FC3AD7);
    font-family: var(--tipografiaCuBeats);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.desktop-search {
    display: none;

}

.header-nav-menu {
    display: none;
}

.header-top-right a {
    font-size: .8rem;
    text-decoration: none;
    list-style: none;
    color: white;
}

.header-top-right__mobileButton {
    background-color: var(--navBackrground);
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo__img {
    width: 48px;
    height: 48px;
}

.header-bottom {
    display: flex;
    justify-content: center;
}

/* BARRA DE BUSQUEDA */
.header-search {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.header-search__input {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    outline: none;
}

.header-search__button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

/* SECCION HAMBURGUESA */
.burger-menu__link {
    color: white;
}

.burger-menu__link i {
    padding: 10px;
    background-color: var(--navBackrground);
    border-radius: 5px;
}

/* MEADIAS QUERIES */
@media(min-width:481px) {
    .header-search {
        width: 80%;
    }
}

@media(min-width:769px) {

    .logo__img {
        width: 50px;
        height: 50px;
    }

    .header-top {
        margin-bottom: 0px;
    }

    .desktop-search {
        display: block;
        width: 100%;
    }

    .header-nav-menu {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .header__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 50%;
    }

    .header__logo a {
        font-size: 1.5rem;
    }

    .header-top-right__mobileButton {
        display: none;
    }

    .header-top-right {
        border: none;
        display: flex;
        padding: 9px 25px;
    }

    .header-top-left {
        display: none;
    }

    .header-bottom {
        display: none;
    }

    .header-nav-menu__itemlist {
        display: flex;
        list-style: none;
        padding: 5px 10px;
        gap: 20px;
        background-color: var(--navBackrground);
        border-radius: 5px;
    }

    .itemlist__li a {
        font-size: 1rem;
        white-space: nowrap;
    }
}