.body__shoppingCart {
  background-color: var(--colorCeleste);
  color: #fff;
  font-family: var(--tipografiaCuBeats);
}

.main__shoppingCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: 100%;
}

.container__box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 250px;
}

.product {
  text-align: center;
  border: 2px solid var(--colorCeleste);
  border-radius: 10px;
  padding: 16px;
  background-color: #161616;
  width: 90%;
}

.product img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.product h2 {
  font-size: 16px;
  margin: 8px 0;
}

.product h4 {
  font-size: 14px;
  margin: 8px 0;
}

.product p {
  font-size: 16px;
  margin: 8px 0;
}

.cart-container {
  background-color: #161616;
  width: 90%;
  height: 50%;
  padding: 16px;
  border-radius: 10px;
  margin-top: 16px;
  border: 2px solid var(--colorCeleste);
text-align: center;
}

.metodos-pagos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  color: var(--colorCeleste);
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
}

.metodos-pagos:hover {
  color: var(--colorLila);
}

.metodos-pagos i{
  margin-left: 8px;
}

@media screen and (min-width: 481px) {

  .main__shoppingCart {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 32px;
    width: 100%;
  }

  .container__box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }

  .products-container {
    justify-content: flex-start;
   align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 450px;
    width: 100%;
  }

  .product {
    width: 48%;
  }

  .cart-container {
    margin: 16 0px;
    width: 100%;
    position: relative;
    text-align: center;
  }

  .metodos-pagos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    color: var(--colorCeleste);
    cursor: pointer;
    width: 100%;
    margin: 8px ;
  }
}

@media screen and (min-width: 769px) {
  .shoppingCart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
    width: 100%;
  }

  .product {
    width: 48%;
  }

  .cart-container {
    width: 25%;
    position: relative;
    margin: 0 16px;
    max-width: 240px;
  }

  .metodos-pagos {
    width: 100%;
  }

  .container__box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}