@import url('general.css');
@import url('buttons.css');
@import url('index.css');
@import url('header.css');
@import url('footer.css');
@import url('shoppingCart.css');
@import url('login.css');
@import url('detail.css');
@import url("register.css");
@import url('404.css');
@import url('slider.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap');
@import url('login.css');