<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {
        title : 'Detalle del Producto'
       }) %>

<body class="productDetail">
    <%- include('./partials/header.ejs') %>
    <main class="product__main">
        <div class="main__container">
            <div class="profile-info">
                <div class="profile-autor">
                    <div class="autor-info">
                        <div class="autor-profile">
                            <img src="/img/product.jpg" alt="">
                        </div>
                        <h3 class="autor-name">Autor-Name</h3>
                        <div class="autor-redes">
                            <i class="fa-brands fa-youtube"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-square-facebook"></i>
                            <i class="fa-brands fa-square-twitter"></i>
                            <i class="fa-brands fa-tiktok"></i>
                        </div>
                    </div>
                </div>
                <div class="autor-page-cover">
                    <img class="profile-bg__img"
                        src="https://d369yr65ludl8k.cloudfront.net/30535/0567f803-1de1-4b15-ba7d-1e62d9c0b03a.jpg"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="product-detail">
                <div class="product-detail__card">
                    <div class="card-img">
                        <img src="/img/gaber.jpg" alt="">
                    </div>
                    <div class="card__info">
                        <h3 class="card__title">Le Gaber</h3>
                        <h4 class="card__autor">Giogio Gaber</h4>
                        <p class="card__description">#Italian #Romantic #Classic</p>
                    </div>
                    <div class="card__menu">
                        <button class="card__favoriteButton"><span>100k</span><i
                                class="fa-regular fa-heart"></i></button>
                        <button class="card__cartButton"><span>$30.00</span><i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
                <div class="card__reproductor">
                    <audio src="../music/woman.mp3" controls="controls" preload="none">
                    </audio>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
                <%- include('./partials/scripts.ejs') %>
</body>

</html>