<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="productDetail">
    <header class="header">
        <div class="header-container">
            <div class="header-top">
                <div class="header-top-left">
                    <div class="burger-menu">
                        <a class="burger-menu__link" href=""><i class="fas fa-bars burger-menu__i"></i></a>
                    </div>
                </div>
                <div class="header__logo">
                    <a href="/"><img class="logo__img" src="/img/logotransparente.png" alt="Logo">
                        <span>CuBeats</span>
                    </a>
                    <div class="desktop-search">
                        <form class="header-search">
                            <input class="header-search__input" type="text" placeholder="¿Qué Estás Buscando?">
                            <button class="header-search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
                <div class="header-top-right">
                    <a class="header-top-right__mobileButton" href="/register">SIGN UP</a>
                    <nav class="header-nav-menu">
                        <ul class="header-nav-menu__itemlist">
                            <li class="itemlist__li"><a href="#">Categorias</a></li>

                        </ul>
                        <ul class="header-nav-menu__itemlist">
                            <li class="itemlist__li"><a href="/register">Sign up</a></li>
                            <li class="itemlist__li"><a href="/login"> Sign in</a></li>
                        </ul>
                        <ul class="header-nav-menu__itemlist">
                            <li class="itemlist__li"><a href="/shoppingCart"><i
                                        class="fa-solid fa-cart-shopping"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-bottom">
                <form class="header-search">
                    <input class="header-search__input" type="text" placeholder="¿Qué Estás Buscando?">
                    <button class="header-search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </header>
    <main class="product__main">
        <div class="main__container">
            <div class="profile-info">
                <div class="profile-autor">
                    <div class="autor-info">
                        <div class="autor-profile">
                            <img src="/img/product.jpg" alt="">
                        </div>
                        <h3 class="autor-name">Autor-Name</h3>
                        <div class="autor-redes">
                            <i class="fa-brands fa-youtube"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-square-facebook"></i>
                            <i class="fa-brands fa-square-twitter"></i>
                            <i class="fa-brands fa-tiktok"></i>
                        </div>
                    </div>
                </div>
                <div class="autor-page-cover">
                    <img class="profile-bg__img"
                        src="https://d369yr65ludl8k.cloudfront.net/30535/0567f803-1de1-4b15-ba7d-1e62d9c0b03a.jpg"
                        alt="">
                </div>
            </div>
            <hr>
            <div class="product-detail">
                <div class="product-detail__card">
                    <div class="card-img">
                        <img src="/img/gaber.jpg" alt="">
                    </div>
                    <div class="card__info">
                        <h3 class="card__title">Le Gaber</h3>
                        <h4 class="card__autor">Giogio Gaber</h4>
                        <p class="card__description">#Italian #Romantic #Classic</p>
                    </div>
                    <div class="card__menu">
                        <button class="card__favoriteButton"><span>100k</span><i
                                class="fa-regular fa-heart"></i></button>
                        <button class="card__cartButton"><span>$30.00</span><i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
                <div class="card__reproductor">
                    <audio src="../music/woman.mp3" controls="controls" preload="none">
                    </audio>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer__menu">
                <a class="footer__logo" href="/"><img class="logo__img" src="/img/logotransparente.png"
                        alt="Logo">CuBeats</a>
                <div class="footer-map">
                    <nav class="footer-map-nav">
                        <h3 class="footer-map-nav__title">Titulo</h3>
                        <ul class="nav__itemList">
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h3 class="footer-map-nav__title">Titulo</h3>
                        <ul class="nav__itemList">
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h3 class="footer-map-nav__title">Titulo</h3>
                        <ul class="nav__itemList">
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                            <li class="itemList__li"><a href="">item</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer_redes">
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-tiktok"></i>
            </div>
            <div class="footer__derechos">
                <p>Los beats presentados aquí no son de nuestra autoría. No nos hacemos responsables de su contenido o
                    derechos de uso.
                </p>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>
</body>

</html>