<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {
    title : 'CuBeats'
   }) %>

<body class="body__index">
  <!-- Header -->
  <%- include('./partials/header.ejs') %>
  <!-- slider -->
  <div class="swiper main__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/img/image1.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image2.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image3.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image4.jpg" /></div>
      <div class="swiper-slide"><img src="/img/image5.jpg" /></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="banner__mobile">
    <img src="/img/banner1.jpg" alt="banner alternativo">
  </div>
  <!-- Main body -->
  <main id="home">
    <!-- Tajetas -->
    <div class="cards">
      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/electro.jpeg" alt="dj" />

        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Electro-Cardi-B
            <small>electro, dance, party</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/kachorro.jpeg" alt="dj" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Kachorro DJ
            <small>party, latin, cumbia420</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/classical.jpeg" alt="musical" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Classical
            <small>classical, relax, ambient</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/ariel.jpeg" alt="singer" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Ariel Garramunda
            <small>dj, mix, remix, party, energy</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/ibiza.jpeg" alt="dj" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Ibiza Rockefeller
            <small>dj, mix, remix, party, energy</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/jazz.jpeg" alt="jazz" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Bust-a-mood
            <small>jazz, calm, ambient, instrumental</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/celebrate.jpeg" alt="party" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Celebrate
            <small>party, electro, new year, birthday</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/relax.jpeg" alt="relax" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Relax
            <small>calm, relax, ambient, moody</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__image-holder">
          <img class="card__image" src="./img/gaber.jpg" alt="remix" />
        </div>
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>
            Giogio Gaber
            <small>italian, romantic, love songs</small>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-volume-xmark"></i>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- footer -->
  <%- include('./partials/footer.ejs') %>
  <%- include('./partials//scripts.ejs') %>
</body>

</html>