<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {
    title : 'Login'
   }) %>

<body class="login">
    <main class="login__main">
        <div class="login__goHome">
            <a href="/"><i class="fa-solid fa-left-long"></i></a>
        </div>
        <div class="login__form-container">
            <form action="/login" class="login__form" method="post">
                <div class="form__logo">
                    <img src="/img/logotransparente.png" alt="Logo">
                </div>
                <h2>Iniciar Sesión</h2>
                <div class="login__form-body">
                    <input type="text" placeholder="Usuario" name="userName" id="userName" required />
                    <input type="password" placeholder="Contraseña" name="userPassword" id="userPassword" required />
                    <label><input type="checkbox" id="recordarme" value="recordarme"><span>RECORDARME</span></label>
                    <button type="submit">LOG IN</button>
                    <hr>
                    <p>¿Aún no tienes cuenta? <a href="/register">Registrarse</a></p>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/scripts.ejs') %>
  
</body>

</html>