<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {
  title : 'Página de Registro'
 }) %>

<body class="register">
  <main class="register__main">
    <div class="goHome">
      <a href="/"><i class="fa-solid fa-left-long"></i></a>
  </div>
      <form action="/register" class="register__form" method="post">
          <div class="form__logo">
              <img src="/img/logotransparente.png" alt="Logo">
          </div>
          <h2>Registrarse</h2>
          <div class="form-container">
              <input type="text" placeholder="Nombre" name="userName" id="userName" required />
              <input type="text" placeholder="Apellido" name="userName" id="userName" required />
              <input type="email" placeholder="Email" name="userPassword" id="userPassword" required />
              <input type="password" placeholder="Contraseña" name="userName" id="userName" required />
              <input type="password" placeholder="Repetir contraseña" name="userPassword" id="userPassword" required />
              <label><input type="checkbox" id="Terminos" value="terminos"><span>Acepto <a href="http://">terminos y condiciones</a></span></label>
              <button type="submit">Registrarse</button>
              <button type="reset">Borrar todo</button>
              <hr>
                <div class="help">
                  <a class="help-toggle" href="#popup1">Necesito ayuda</a>
                </div>
              
          </div>
      </form>
      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Aca va la ayuda</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
            <textarea id="signin_issue" name="signin_issue"
          rows="5" cols="33" wrap="soft"> Describe brevemente el problema y nos pondremos en contacto contigo
        </textarea>
          </div>
        </div>
      </div>
  </main>
  <%- include('./partials/scripts.ejs') %>
</body>


</html>