<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>
</head>

<body class="body__shoppingCart">
    <header class="header">
        <div class="header-container">
            <div class="header-top">
                <div class="header-top-left">
                    <div class="burger-menu">
                        <a class="burger-menu__link" href=""><i class="fas fa-bars burger-menu__i"></i></a>
                    </div>
                </div>
                <div class="header__logo">
                    <a href="/"><img class="logo__img" src="/img/logotransparente.png" alt="Logo">
                        <span>CuBeats</span>
                    </a>
                    <div class="desktop-search">
                        <form class="header-search">
                            <input class="header-search__input" type="text" placeholder="¿Qué Estás Buscando?">
                            <button class="header-search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
                <div class="header-top-right">
                    <a class="header-top-right__mobileButton" href="#">SIGN UP</a>
                    <nav class="header-nav-menu">
                        <ul class="header-nav-menu__itemlist">
                            <li class="itemlist__li"><a href="#">Explorar</a></li>
                            <li class="itemlist__li"><a href="#">Comprar</a></li>
                            <li class="itemlist__li"><a href="#">Vender</a></li>
                        </ul>
                        <ul class="header-nav-menu__itemlist">
                            <li class="itemlist__li"><a href="#">Sign up</a></li>
                            <li class="itemlist__li"><a href="#"> Sign in</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-bottom">
                <form class="header-search">
                    <input class="header-search__input" type="text" placeholder="¿Qué Estás Buscando?">
                    <button class="header-search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </header>
    <main class="main__shoppingCart">
        <div class="container__box">
        <section class="products-container">
          <div class="product">
            <a href="/products/product"><img src="/img/ariel.jpeg" alt="Beat 1"></a>
            <h2>Ariel Garramunda</h2>
            <h4>Ven a Jujuy</h4>
            <p>Precio: $30.00</p>
            <button class="button__cart">Eliminar</button>
          </div>

          <div class="product">
            <a href="/products/product"><img src="/img/ibiza.jpeg" alt="Beat 2"></a>
            <h2>Ibiza Rockefeller</h2>
            <h4>Juncal y Billinghurst</h4>
            <p>Precio: $30.00</p>
            <button class="button__cart">Eliminar</button>
          </div>

          <div class="product">
            <a href="/products/product"><img src="/img/kachorro.jpeg" alt="Beat 3"></a>
            <h2>Kachorro DJ</h2>
            <h4>Vamos al billar</h4>
            <p>Precio: $30.00</p>
            <button class="button__cart">Eliminar</button>
          </div>
          
          <div class="product">
            <a href="/products/product"><img src="/img/classical.jpeg" alt="Beat 3"></a>
            <h2>Classical</h2>
            <h4>Mozart | | Sessions #3</h4>
            <p>Precio: $30.00</p>
            <button class="button__cart">Eliminar</button>
        </section>
        
        <section class="cart-container">
          <h2>Cart Summary</h2>
          <p>Total: <span class="total">$120.00</span></p>
          <p>Impuestos: <span class="impuestos">$195.00</span></p>
          <div class="metodos-pagos">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-bitcoin"></i>
            <i class="fa-solid fa-credit-card"></i>
        </div>

        <div class="button__container">
          <button class="button__cart">Comprar</button>
          <button class="button__cart">Cancelar</button>
        </div>
        
        </section>
        </div>
      </main>
</body>

</html>